# dependencies
node_modules/

# Next.js
my-app/.next/
my-app/out/
my-app/build/

# misc
.DS_Store
*.pem
.env*
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
my-app/.vercel
