/* app/components/fps-tracker.css */
@property --progress {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --spotlight-angle {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --spotlight-distance {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.fps-tutorial-wrapper {
  --vh: 1vh;
  --vw: 1vw;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-black-rgb: 0, 0, 0;
  --c-grey-dark: #333333;
  --c-grey-dark-rgba: 51, 51, 51;
  --c-grey: #999999;
  --c-red: #FF5A37;

  --easing-function: cubic-bezier(0.86, 0, 0.31, 1);
  --easing-function-2: cubic-bezier(0.35, 0.35, 0, 1);
  --easing-timing: 1.5s;

  --g-gap: 0.4rem;
  --g-margin: calc(var(--g-gap) * 2);

  --mm: 0.64rem;
  --m: 0.8rem;
  --p: 1rem;
  --h6: 1.25rem;
  --h5: 1.563rem;
  --h4: 1.953rem;
  --h3: 2.441rem;
  --h2: 3.052rem;
  --h1: 3.815rem;
  --h0: 5.065rem;
  --large: max(6.331rem, 18vw);

  font-size: 16px;
  line-height: 1.25;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #808080;
  color: black;

  position: relative;
  min-height: 100lvh;

  /* Reset some basic margins within the wrapper so things look right */
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .fps-tutorial-wrapper {
    --g-margin: calc(var(--g-gap) * 4);
    font-size: 20px;
  }
}

.fps-w {
  margin-left: var(--g-margin);
  margin-right: var(--g-margin);
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  column-gap: var(--g-gap);
}

.fps-tutorial-wrapper svg {
  display: block;
}

.fps-tutorial-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fps-tutorial-wrapper button {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  display: block;
  touch-action: manipulation;
  color: var(--c-white);
}

div[data-fps] {
  background-color: var(--c-red) !important;
  border: none !important;
  top: calc(var(--vh, 1vh) * 50) !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  z-index: 40 !important;
  translate: -50% 0 !important;
}

.fps-grid {
  grid-column-start: 1;
  grid-column-end: 15;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--g-gap);
  row-gap: var(--g-gap);

  margin-top: calc(var(--vh, 1vh) * 50);
  margin-bottom: calc(var(--vh, 1vh) * 50);
}

@media (min-width: 1024px) {
  .fps-grid {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-template-columns: repeat(4, 1fr);
  }

  .fps-grid figure img {
    filter: saturate(100%) contrast(100%);
    transition: filter 1.5s var(--easing-function-2);
  }

  .fps-grid figure:hover img {
    filter: saturate(0%) contrast(50%);
    transition: filter 0s var(--easing-function-2);
  }
}